main {
	width: 960px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 2rem;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li * {
		text-decoration: none;
		transition: 0.2s ease;
		text-align: start;

		a {
			display: block;

			&:hover h4,
			&:hover .date {
				color: var(--accent);
			}
		}

		.title {
			margin: 0;
			color: var(--black);
			line-height: 1;

		}

		.description {
			margin: 0;
			line-height: 1.5em;
			color: var(--gray);
		}

		.date {
			margin: 0;
			color: var(--accent);
		}
	}
}

@media only screen and (min-width: 720px) {
	ul {
		gap: 0.5em;
		flex-wrap: wrap;

		li * {
			text-align: start;

			.description {
				width: 100%;
			}
		}
	}

}
