---
import Layout from '../layouts/BlogPost/index.astro';
---

<Layout
	title="About Me | German III"
	description="I am a software"
	pubDate={new Date('May 02 2024')}
>
	<p>
		Hi, I am German III Felisarta a graduate of Bachelor of Science in Computer Engineering
		from the University of San Carlos, Cebu, PH. I am a tech enthusiast by heart and I find it
		exciting and interesting knowing about different technologies.
	</p>

	<p>
		I have worked at various jobs in tech already. First, as a Firmware Engineer at Lexmark Research
		and Development Inc. where I learned a lot more about Linux. Second, as a Full Stack Engineer at
		Bluewind Asia Inc. where I learned more about containerization and web development. To
		more expriences!
	</p>

	<p>
		As a tech enthusiast, it is natural for me to be very curious on latest updates on the tech world. I might
		also post about latest from tech on this wiki. I have also been exposed to various Operating Systems.
		Linux, being my favorite (for development), has helped me in my career, and made me understand hollistically
		how my computer works.
	</p>

	<p>
		Throughout our careers, we learn and we are learned from by our coleagues Which leads to the point
		of this website: To collect, consolidate and share all my learnings from coleagues, work, and hobbies
		as a Software Engineer.
	</p>

</Layout>
