---
import BaseHead from '../components/BaseHead/index.astro';
import Header from '../components/Header/index.astro';
import Footer from '../components/Footer/index.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, I'm German III.<br/> Welcome to my Wiki!</h1>
			<p>
				This wiki was supposed to be a blog, but I'm not the type of person
				who makes blogs. So let's call it a wiki. 
			</p>
			<p>
				I am filling up this website
				with lots of information. All coming from my career and work experience.
				If you find anything you disagree with, or any corrections, I would gladly update it.
				Please email me at <a>germaniiifelisarta@gmail.com</a>.
			</p>
			<br/>
			<p>
				Todos: 
				<ul>
					<li>Categorize blog topics</li>
					<li>Add a search bar</li>
				</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
