---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.linkedin.com/in/german-iii-felisarta-648b9420b" target="_blank">
				<span class="sr-only">Follow Me on LinkedIn</span>
				<img width="32" height="32" src="icons/linkedin.svg"/>
			</a>
			<a href="https://gitlab.com/germaniiifelisarta" target="_blank">
				<span class="sr-only">My Gitlab repo</span>
				<img width="32" height="32" src="icons/gitlab.svg"/>
			</a>
			<a href="https://github.com/germaniii" target="_blank">
				<span class="sr-only">My GitHub repo</span>
				<img width="32" height="32" src="icons/github.svg"/>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		margin: 1em;
		padding: 0.5em;
		color: var(--black);
		text-decoration: none;
		border-radius: 1em;
	}
	nav a.active {
		text-decoration: none;
		color: white;
		background: var(--black);
	}
	nav a.active:hover {
		background: var(--black);
	}
	nav a:hover {
		color: white;
		background: var(--black-hover);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
