---
import './index.css';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} German III Felisarta. All rights reserved.<br/>
	Icons from <a href="https://icons8.com">Icons 8</a>
	<div class="social-links">
		<a href="https://www.linkedin.com/in/german-iii-felisarta-648b9420b" target="_blank">
			<span class="sr-only">Follow Me on LinkedIn</span>
			<img width="32" height="32" src="icons/linkedin.svg"/>
		</a>
		<a href="https://gitlab.com/germaniiifelisarta" target="_blank">
			<span class="sr-only">My Gitlab repo</span>
			<img width="32" height="32" src="icons/gitlab.svg"/>
		</a>
		<a href="https://github.com/germaniii" target="_blank">
			<span class="sr-only">My GitHub repo</span>
			<img width="32" height="32" src="icons/github.svg"/>
		</a>
	</div>
</footer>
