---
import { socialLinks } from '../../consts';
import './index.css';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} German III Felisarta. All rights reserved.<br/>
	Icons from <a href="https://icons8.com">Icons 8</a>
	<div class="social-links">
		{socialLinks.map(social => (
			<a href={social.link} target="_blank">
				<span class="sr-only">{social.description}</span>
				<img width="32" height="32" src={social.image}/>
			</a>
		))}
	</div>
</footer>
